@import '../../../styles/config.scss';

.InfoScreen__table {
    display: grid;
    grid-template-columns: 1fr 1fr 20% 8% 8%;
    text-align: center;
    align-items: center;
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 16px;

    .InfoScreen__table__text {
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
        color: #2e2e2e;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid rgba(0, 0, 0, 0.25);
        height: 60%;
    }

    .InfoScreen__table__text:nth-last-child(1) {
        border-right: none;
    }
}

.tableWrapper {
    width: 100%;
    flex: 1;
    min-width: $min-table-width + 100px;
}

.tableHeaderWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 6px;
    min-width: $min-table-width;
}

.tableHeaderLabel {
    text-align: center;
    color: $color-grey;
    font-weight: 600;
    font-size: 16px;
}

.editBlock {
    flex: 2;
    min-width: 150px;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.editBlockRow {
    @extend .editBlock;
    justify-content: space-around;
    align-items: center;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.rowItemBlock {
    border-right: 2px solid $color-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.btnHolder {
    margin: 0 6px;
}

.rowItem {
    text-align: center;
}

.rowItemBlockLast {
    @extend .rowItemBlock;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.rowItemBlock {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: $color-font-color;
}

.separator {
    width: 2px;
    height: 50px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.25) inset;
    -moz-box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.25) inset;
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.25) inset;
}

.imgBlock {
    width: 86px;
    height: 72px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
    position: relative;
}

.inputWrapper {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input {
    border: none;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 18px;
    background: white;
    padding-left: 20px;
}

.inputEditor {
    border-bottom: none;
}

.iconInput {
    cursor: pointer;
    margin-left: -25px;
    width: 25px;
    height: 35px;
    display: flex;
    align-items: center;
}

.textBlock {
    // white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    color: #2e2e2e;
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
}

.dataShort {
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */

    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noFlex {
    flex: none;
}

.messagesCount {
    position: absolute;
    right: -9px;
    top: -6px;
    background: #e42b24;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    /* identical to box height, or 18px */

    color: #ffffff;
}
