@import '../../../styles/config.scss';

.root {
    display: flex;
    min-width: 343px;
    margin-top: 24px;
}
.wrapper {
    width: 343px;
}

.iconBlock {
    width: $input-height;
    height: $input-height;
    border-radius: $border-radius;
    border: 1px solid $color-grey;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.inputPhoto {
    display: none;
}

.holder {
    margin-bottom: 24px;
}
.holder2 {
    margin-bottom: 51px;
}

.checkboxTitle {
    display: block;
    margin-bottom: 7px;
    font-family: SFProDisplay;
    font-weight: normal;
    font-size: 18px;
}
