/*
=============================
Variables
=============================
*/
$input-height: 50px;
$buttom-height: 44px;
$header-height: 54px;
$sidebar-width: 250px;
$min-table-width: 1000px;
$border-radius: 5px;

$box-shadow-button: 0 0 6px rgba(0,0,0,0.3);
/*
=============================
Breakpoints
=============================
*/

/*
=============================
Colors
=============================
*/

$color-font-color: #2E2E2E;
$color-background: #ffffff;
$color-input-background: #ffffff;
$color-primary: #007C45;
$color-grey: #B7B7B7;
$color-red: #E42B24;
$color-disable: #e2e2e2;



/*
=============================
functions
=============================
*/

/*
=============================
Mixins
=============================
*/

