@import '../../../../../styles/config.scss';
.block {
    display: flex;
    padding-bottom: 20px;
}
.item {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
}
.itemBlock {
    margin-bottom: 16px;
}
.itemTwo {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 35px;
    margin-top: 20px;
}
