.jodit-container h1 {
    font-size: 2em;
    font-weight: bold;
}
.jodit-container h2 {
    font-size: 1.5em;
    font-weight: bold;
}
.jodit-container h3 {
    font-size: 1.17em;
    font-weight: bold;
}
.jodit-container h4 {
    font-weight: bold;
}
.jodit-container pre {
    font-family: monospace;
    margin: 1em 0px;
}
.jodit-container a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}


.jodit-container ol {
    list-style-type: decimal;
    list-style-position: inside;
}
.jodit-container ul {
    list-style-type: disc;
    list-style-position: inside;
}