@import '../../../styles/config.scss';


.inputHolder {
    width: 360px;
    margin-bottom: 24px;
}
.label {
    color: $color-grey;
}

.input {
    display: block;
    width: 500px;
}

.linkBtn {
    margin-bottom: 80px;
}
.link {
    cursor: pointer;
    color: $color-primary;
    border-bottom: 1px dashed $color-primary;
}